.dc-cards-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 90px;
  animation: fadeIn 1s ease;
}

.dc-dashboard-card {
  width: 200px;
  background: rgb(180, 177, 177);
  border-radius: 16px;
  padding: 26px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.4s;
}

.dc-dashboard-card:hover {
  transform: scale(1.06);
  box-shadow: 0 6px 18px rgba(255,120,0,0.3);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
